page-home {
p, h3, h2, h4{text-align: justify; color:#FFFFFF}
.chapters{
    width: 50%;
    background: #607D8B;
    border-radius: 10px;
    margin: 0 auto;
}
.body{
   background-color:rgb(233, 233, 233);
}
.card{
    display:block;
    height: 33%;
    background: #3f51b5;
    padding: 2% 2%;
    margin: 1% 1%;
}
}
